.container {
	width: fit-content;
}

h1 {
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 0;
}

.item {
	cursor: pointer;
}

.completed {
	text-decoration: line-through;
}
